body {
    background-color: #E4E4E7;
    padding-bottom: 25px;
}

.home-btn {
    float: left;
    width: 100%;
}

.login-title {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

.login-form {
    width: 500px;
    margin: 20px auto;

}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.home-h1 {
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    background-color: #061860;
    color: #E4E4E7;
    margin-top: 0px;
    margin-bottom: -20px;
    height: 100px;
    padding-top: 26px;
}

.nav-text {
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    color: #E4E4E7;
}

.nav-logo {
    float: right;
    font-family: 'Bree Serif', serif;
    font-size: 48px;
    margin-top: -20%;
    margin-right: -45%;
    color: #E4E4E7;
}


.btn-logout {
    float: left;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    color: #E4E4E7;
    margin-left: -20%;
}

/* td{
  width: 300px;
} */

td:nth-of-type(1) {
    width: 25%;
}

td:nth-of-type(2) {
    width: 31%;
}

td:nth-of-type(3) {
    width: 15%;
}

td:nth-of-type(4) {
    width: 15%;
}
td:nth-of-type(5) {
     width: 7%;
 }
td:nth-of-type(6) {
    width: 7%;
}


.stripe1 {
    background-color: #f4fbfc;
}


.page-title {
    color: #0F5773;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}


.table-admin {
    border: 2px solid #D3D2D2;
    border-collapse: collapse;
}

.table-content-admin {
    border: 2px solid #D3D2D2;
    border-collapse: collapse;
    padding: 15px;
}

.btn-approve {
    width:77%;
    margin: 2%;
}

.table-admin tr:nth-child(even) {
    background: #EFEFEF;
}

.table-admin tr:nth-child(odd) {
    background: #f4fbfc;
}

.btn-link {
    background: none !important;
    color: #12077F;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #12077F;
    cursor: pointer;
}

.paginate_button {
    margin: 3px;
}

.table {
    margin: 4px;
}

input[type=search] {
    height: 30px;
    border: 1px #999;
    border-radius: 5px;
}